ul#smart-quotes-examples
{
  display: block;
  margin: .5em 0 0;
}

ul#smart-quotes-examples li
{
  display: inline;
  font-size: 2.5em;
  margin: 0 .1em 0 0;
}

ul#smart-quotes-examples li a
{
  text-decoration: none;
  padding: .1em .3em;
  border: solid 1px #e6db55;
  background-color: #fffbcc;
  color: #464646;
}

#smart-quotes-opening, #smart-quotes-closing
{
  font-size: 2.5em;
  text-align: center;
}
